<% provide :title, t(".title") %>
   <h1><%= t ".title" %></h1>
    <p>
      <%= t ".p_the" %>&nbsp<%= link_to t(".link_about_1"), t(".href_about_1") %>
      <%= t ".p2" %>
      <%= link_to t(".link_about_2"), t(".href_about_2") %>
      <%= t ".p4" %>
      <%= link_to t(".link_about_3"), t(".href_about_3") %>
      <%= t ".p1" %>
      <%= link_to t(".link_about_4"), t(".href_about_4") %>
      <%= t ".p3" %>
    </p>
