<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".p1" %>
  <%= link_to t(".link_help"), t(".href_help") %>
  <%= t ".p2" %>
  <%= link_to t(".link_help_1"), t(".href_help_1") %>
</p>