<footer class="footer">
  <small>
    <%= t ".p1" %><%= link_to t(".link_name_1"), t(".href_1") %>
    <%= t ".p2" %><%= link_to t(".link_name_2"), t(".href_2") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about_nav"), about_path %></li>
      <li><%= link_to t(".contact_nav"), contact_path %></li>
      <li><%= link_to t(".link_name_3"), t(".href_3") %></li>
    </ul>
  </nav>
</footer>